*{
  box-sizing: border-box;

}

.projects_container {
  background-color: rgb(208, 208, 208);
}

.projects_container::after {
content: "";
clear: both;
display: table;

}

.imgs {
float: left;
width: 33.33%;
padding: 3px;
}

@media screen and (max-width: 500px) {
.imgs {
  width: 100%;
}
}

.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: 'black';
}