@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 14px;
}

b {
  font-weight: bold;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='button'] {
  -webkit-appearance: none;
}


